<h1 class="titleText">Carbon Footprint Calculator</h1>
<div class="loginForm">
  <div class="loginForm">
    <div class="bottomLoginForm">
      <h2 class="accountText">Account</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      class: "something",
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: true,
                      class: "something",
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", :class => "loginButton" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
