<h1>Saved footprints</h1>
<p>Showers</p>
<% @current_user.shower_usages.map do |su| %>
Minutes: <%= su.minutes %>
Daily Gallons: <%= su.daily_gallons %>
Yearly Gallons: <%= su.yearly_gallons %>
<% end %>
<br />
<br />
<p>Transportation Footprints</p>
<% @current_user.transportation_footprints.map do |tp| %>
MPG: <%= tp.mpg %>
Miles driven per year: <%= tp.miles_driven_per_year %>
Metric Tons Per Year: <%= tp.metric_ton_carbon_dioxide_output %>
<% end %>